[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
