[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/utfcpp"]
	path = external/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "external/SDL_GameControllerDB"]
	path = external/SDL_GameControllerDB
	url = https://github.com/gabomdq/SDL_GameControllerDB.git
